<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.appservice"
    android:installLocation="auto"
    android:versionCode="2"
    android:versionName="2.25" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- android:uiOptions="splitActionBarWhenNarrow" -->
        <!-- android:theme="@android:style/Theme.Black"> android:theme="@android:style/Theme.Black" -->

        <activity
            android:name="eu.appservice.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:permission="android.permission.VIBRATE"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity Settings -->
        <activity
            android:name="eu.appservice.activities.SettingsActivity"
            android:parentActivityName="eu.appservice.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name="eu.appservice.activities.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />

        <!-- Activity PZ -->
        <activity
            android:name="eu.appservice.activities.PzActivity"
            android:label="PZ"
            android:parentActivityName="eu.appservice.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!-- Activity  New Material -->
        <activity
            android:name="eu.appservice.activities.NewMaterialActivity"
            android:label="Dodaj materiał"
            android:parentActivityName="eu.appservice.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!-- Activity RW -->
        <activity
            android:name="eu.appservice.activities.RwActivity"
            android:label="@string/title_activity_rw"
            android:parentActivityName="eu.appservice.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!-- Activity MPK LIST -->
        <activity
            android:name="eu.appservice.activities.MpkListActivity"
            android:label="Wybierz MPK"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />

        <!-- Activity Picked Material List -->
        <activity
            android:name="eu.appservice.activities.CollectedMaterialsListActivity"
            android:parentActivityName="eu.appservice.activities.RwActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RwActivity" />
        </activity>

        <!-- Activity INVENTORY -->
        <activity
            android:name="eu.appservice.activities.InventoryActivity"
            android:label="Inwentaryzacja"
            android:parentActivityName="eu.appservice.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!-- Activity FingerPaint -->
        <activity
            android:name="eu.appservice.activities.FingerPaintActivity"
            android:label="Podpis"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat" />

        <!-- Activity  SearchCollectedActivity -->
        <activity
            android:name=".activities.SearchCollectedActivity"
            android:label="Przeszukaj w liśicie pobranych"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <!-- <activity android:name="eu.appservice." android:screenOrientation="portrait"></activity> -->


        <!-- Activity FingerPaint -->
        <activity
            android:name="eu.appservice.activities.TestActivity"
            android:label="Test Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="eu.appservice.activities.InfoActivity"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SeggintsActivity" />
        </activity>
        <activity
            android:name="eu.appservice.activities.PzListActivity"
            android:label="@string/title_activity_pz_list"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PzActivity" />
        </activity>
    </application>

</manifest>
